.App {
  text-align: center;
}

.running-div {
  position: absolute;
  padding: 30px;
  background-color: green;
  color:greenyellow;
  text-align: center;
  font-size: 30px;
}

.main-div {
  position: absolute;
  border: 1px solid green;
  background-color: #e8fee7;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}